<!DOCTYPE html>
{% load static %}
{% load humanize %}

<head>
<title>
   The pompPy App
</title>

<link rel="stylesheet" href="{% static 'todo/styles.css' %}">
</head>

<div class="topnav">
  <a class="active" href="{% url 'todo:todolist_url' %}">Home</a>
 <a style="background-color:red" href="{% url 'pomodroApp:pomo50' username=request.user.username|default:"guest" %}">Pomodro=50 min</a>
  <a style="background-color:green" href="{% url 'pomodroApp:pomo25' username=request.user.username|default:"guest"%}">Pomodro=25 min</a>
  <a href="{%  url 'todo:create' %}">Create Task</a>
{% if user.is_authenticated %}


  <a href="{% url 'todo:logout' %}">Logout</a>
    {% endif %}

</div> 
<body>
{% if user.is_authenticated %}

{% else %}

    <p>Please <a href="{% url 'todo:login' %}"> login</a> here </p>
   
{%  endif %}
{% block content %}
{% endblock %}

</body>


