<!DOCTYPE html>
{% load static %}

<head>
<title>
   The pompPy App
</title>

<link rel="stylesheet" href="{% static 'todo/styles.css' %}">
</head>

<div class="topnav">
  <a class="active" href="{% url 'todo:todolist_url' %}">Home</a>
  <a href="#">Pomodro</a>
  <a href="{%  url 'todo:create' %}">Create Task</a>
{% if user.is_authenticated %}


  <a href="{% url 'todo:logout' %}">Logout</a>
    {% endif %}

</div> 
<body>
{% if user.is_authenticated %}

{% else %}

    <p>Please <a href="{% url 'todo:login' %}"> login</a> here </p>
   
{%  endif %}
{% block content %}
{% endblock %}

</body>


